<div class="narrow-block">
  <form [formGroup]="imageForm">
    <div class="input-box">
      <mat-form-field>
        <input matInput type="text" placeholder="Image description" formControlName="description">
      </mat-form-field>
    </div>
  </form>
  <input type="file" #image style="display: none" (change)="onFileAdded()"  /> <!-- formControlName="image" -->
  <div>
    <img *ngIf="imgSrcToShow" [src]="imgSrcToShow"  width="384" height="216"/>
  </div>
  <label (click)="addFile()">
    Upload Image
  </label><br />
  <button mat-stroked-button color="primary" [disabled]="clicked" (click)="saveImage()">Save</button>
  <p class="msg error-msg" *ngIf="errorMessage">{{errorMessage}}</p>
</div>