<div class="narrow-block">
    <h3>Set your new password</h3>
    <form [formGroup]="changePasswordForm" class="form-box">
      <div class="input-box">
        <mat-form-field>
          <input matInput type="password" placeholder="Enter your new password" class="input" formControlName="password">
        </mat-form-field>
      </div>
      <div class="input-box">
        <mat-form-field>
          <input matInput type="password" placeholder="Confirm your password" class="input" formControlName="confirmPassword">
        </mat-form-field>
      </div>
      <button mat-raised-button (click)="setPassword()">Set password</button>
    </form>
    <p class="msg success-msg">{{successText}}</p>
    <div *ngIf="clicked">
      <p class="msg error-msg" *ngIf="changePasswordForm.controls['password'].errors && changePasswordForm.controls['password'].errors.required">Password required</p>
      <p class="msg error-msg" *ngIf="changePasswordForm.controls['confirmPassword'].errors && changePasswordForm.controls['confirmPassword'].errors.required">Confirm password required</p>
      <p class="msg error-msg" *ngIf="changePasswordForm.controls['password'].errors && changePasswordForm.controls['password'].errors.minlength">Password should contain more than 6 symbols</p>
      <p class="msg error-msg">{{errorText}}</p>
    </div>
  </div>
