<mat-drawer-container class="example-container">
  <mat-drawer #drawer [mode]="over">
    <div style="display: flex;">
    <div>
      <mat-list role="list">
        <mat-list-item role="listitem">Visitis number:</mat-list-item>
        <mat-list-item role="listitem">Users visited:</mat-list-item>
        <mat-list-item role="listitem">Visits last week:</mat-list-item>
        <mat-list-item role="listitem">Average tour time:</mat-list-item>
        <mat-list-item role="listitem">Comments:</mat-list-item>
        <mat-list-item role="listitem">Average Mark:</mat-list-item>
      </mat-list>
    </div>
    <div>
      <mat-list role="list" *ngIf="tourStatistics">
        <mat-list-item role="listitem">{{tourStatistics.visitsNumber}}</mat-list-item>
        <mat-list-item role="listitem">{{tourStatistics.usersVisited}}</mat-list-item>
        <mat-list-item role="listitem">{{tourStatistics.visitsLastWeek}}</mat-list-item>
        <mat-list-item role="listitem">{{getAverageTime(tourStatistics.averageTourTime)}}</mat-list-item>
        <mat-list-item role="listitem">{{tourStatistics.commentsNumber}}</mat-list-item>
        <mat-list-item role="listitem">{{tourStatistics.averageMark}}</mat-list-item>
      </mat-list>
    </div>
    </div>
  </mat-drawer>
  
  <mat-drawer-content *ngIf="tour">
      <span *ngIf="!editMode" class="title">{{tour.title}}</span>
      <div *ngIf="!editMode" class="small-title">
        City: <span>{{getCity(tour.cityId)}}</span>
      </div>
      <div *ngIf="!editMode" class="small-title">
        {{tour.description}}
      </div>
      <form *ngIf="editMode" [formGroup]="editForm">
        <mat-form-field>
          <input matInput type="text" formControlName="title" placeholder="Title"/>
        </mat-form-field>
        <mat-form-field>
          <mat-select placeholder="Choose city" formControlName="cityId">
            <mat-option *ngFor="let city of cities" [value]="city.cityId">{{city.name}}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <input matInput type="text" formControlName="description" placeholder="Description"/>
        </mat-form-field>
      </form>
      <div style="width: 100%; text-align: center;">
        <mat-icon (click)="drawer.toggle()">assessment</mat-icon>
        <mat-icon *ngIf="!editMode && (usersTour() || admin())" (click)="openEditMode()">edit</mat-icon>
        <mat-icon *ngIf="editMode && (usersTour() || admin())" style="color: rgb(60, 255, 1);" (click)="saveChanges()">done</mat-icon>
        <mat-icon *ngIf="editMode && (usersTour() || admin())" style="color: red;" (click)="closeEditMode()">close</mat-icon>
      </div>
      <div class="mid-title">
        Tour sights:
      </div>
      <div class="sights-container">
        <mat-card class="sight" *ngFor="let sight of tour.sights">
          <mat-card-header>
            <mat-card-title>{{sight.title}}</mat-card-title>
          </mat-card-header>
          <img mat-card-image src="{{getSightImage(sight)}}"/>
          <mat-card-content>
              <p>
                {{sight.description}}
              </p>
            </mat-card-content>
            <mat-card-actions style="text-align: center">
              <button mat-raised-button (click)="showSight(sight.sightId)">Watch</button>
              <button mat-raised-button *ngIf="admin() || usersTour(tour)" color="warn" (click)="deleteTour(tour.tourId)">Delete</button>
            </mat-card-actions>
        </mat-card>
        <div class="sight new-sight" *ngIf="usersTour(tour) || admin()" (click)="addSight()">
          <mat-icon class="plus">add</mat-icon>
        </div>
      </div>
  </mat-drawer-content>
</mat-drawer-container>