.error {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: red;
  font-size: 14px;
}

.card {
  max-width: 400px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.header-image {
  background-image: url('../../../assets/images/avatar.png');
  background-size: cover;
}

.note {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  margin-bottom: 5px;
}