.card {
  margin: 60px 28%;
  width: 44%;
  align-self: center;
  text-align: center;
}

.container {
  height: calc(100vh - 124px);
}

.mat-card-header {
  display: block !important;
}

.image {
  border-radius: 20px;
}

.forgot-password {
  text-decoration: underline;
  font-size: 14px;
  margin-top: 10px;
  cursor: pointer;
}