<mat-toolbar role="heading" color="basic">
  <span>AR Tour</span>

  <!-- This fills the remaining space of the current row -->
  <span class="example-fill-remaining-space"></span>

  <button mat-button class="nav-action" (click)="navigate('home')">Home</button>
  <button mat-button class="nav-action" (click)="navigate('manage')">Tours</button>
  <button mat-button class="nav-action" (click)="navigate('profile')">Profile</button>
  <button mat-button class="nav-action" (click)="navigate('login')">Sign In</button>
  <button mat-button class="nav-action" (click)="navigate('register')">Sign Up</button>
</mat-toolbar>