.example-card {
  max-width: 640px;
}
  
.example-header-image {
  background-image: url('../../../assets/images/avatar.png');
  background-size: cover;
}

.container {
    display: flex;
    justify-content: center;
}

table {
  width: 600px;
}
