/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

body {
  margin: 0;
}

.small-title {
  align-self: center;
  text-align: center;
  font: 500 20px/32px Roboto,"Helvetica Neue",sans-serif;
}